<h1>Questions#answer</h1>

<div class="container">
<div class="question">
<p><em>You : </em><%= @question %></p>
</div>

<div class="answer">
<p><em>Your coach : </em><%= @result %> </p>
</div>

<div> </br></div>

<p class="alert-link"><%= link_to "ask a new question", ask_path %></p>


</div>
