<h1>Questions#ask</h1>

<div class="container">
<form class = "form-inline" action="/answer">
  <input type="text"  cclass="sr-only" name="question">
  <input type="submit"  class="btn btn-primary mb-2" value="Ask!">
</form>
</div>


